---
title: SDS Core
layout: default
---


<div id="main">
        <div id="content" class="container">
          <header>
            <h2>SDS Core</h2>
          </header>
          <p>We at SDS  are a vibrant community of student developers, but like any well organized structure, we have a core team that leads the group.</br>
          Let's meet them here!</p>
          <b>Levi Vaguez </b></br>
          <img src="/assets/images/levi.png" align="left" width="190" height="190" /></br>
          <p>A young man who considers himself to be an out of the box thinker and likes to approach life in a different way. A passionate foodie and a die hard comics book fan who is a great listener of music and finds time to bring out his creative literature skills. Follow him <a href="https://www.linkedin.com/in/levi-vaguez-8b36a9129" target="_blank" rel="noopener">here.</a></p>
          <p><br><br><br><br></p>
          <b>Ganesh Venkat Subramanium </b></br>
          <img src="/assets/images/venkat.png" align="left" width="190" height="190"/></br>
          <p>A young man who considers himself to be an out of the box thinker and likes to approach life in a different way. A passionate foodie and a die hard comics book fan who is a great listener of music and finds time to bring out his creative literature skills. Follow him <a href="https://www.linkedin.com/in/levi-vaguez-8b36a9129" target="_blank" rel="noopener">here.</a></p>
          <p><br><br><br><br></p>
          <b>Prejith Premkumar </b></br>
          <img src="/assets/images/prejith.png" align="left" width="190" height="190"/>
          <p>A young man who considers himself to be an out of the box thinker and likes to approach life in a different way. A passionate foodie and a die hard comics book fan who is a great listener of music and finds time to bring out his creative literature skills. Follow him <a href="https://www.linkedin.com/in/levi-vaguez-8b36a9129" target="_blank" rel="noopener">here.</a></p>
          <p><br><br><br><br><br></p>
          <b>Enfa Rose George</b></br>
          <img src="/assets/images/enfa.png" align="left" width="190" height="190"/>
          <p>A young man who considers himself to be an out of the box thinker and likes to approach life in a different way. A passionate foodie and a die hard comics book fan who is a great listener of music and finds time to bring out his creative literature skills. Follow him <a href="https://www.linkedin.com/in/levi-vaguez-8b36a9129" target="_blank" rel="noopener">here.</a></p>
          
        </div>
</div>

<!-- Once you're done with the page, go to nav.html and add the link to the page there -->
